.notes-page .note-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.notes-page .add-notes {
    background-color: #8079EC;
    /* Color más vibrante */
    color: white;
    border: none;
    margin-left: 10rem;
    margin-top: 2rem;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.note-container .note-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    /* Alinea todas las tarjetas en la misma altura */
    max-width: 1140px;
    margin: 0 auto;
}

.note-container .note-card {
    width: calc(33.33% - 20px);
    min-width: 300px;
    height: 200px;
    /* Establecemos una altura fija para todas las tarjetas */
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.note-container .note-card h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.note-container .note-card p {
    font-size: 14px;
    margin: 0;
}

.delete {
    background-color: transparent;
}

.delete:hover {
    background: none;
}

@media screen and (max-width: 1024px) {
    .note-container .note-card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .note-container .note-card {
        width: calc(100% - 20px);
    }
}